.map {
  background: #E0ECED;
}
.wrapper {
  position: relative;
}
#progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background: rgba(135, 206, 235, 0.7);
  width: 0;
  transition: width 250ms;
}